body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.people {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    margin-left: 305px;
    margin-right: 305px;
    margin-top: 30px;
    margin-buttom: 228px;
}

.people .person img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    color: #2F4F4F;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.details {
    text-align: center;
}

.rank, .sport, .pay {
    display: none;
}

.person:hover {
    background: #EEEEEE;
    border-radius: 10px;
    animation-delay: 1s;
}

@media (min-width:1000px) and (max-width:1499px) {
    .people {
    margin-left: 55px;
    margin-right: 55px;
    margin-buttom: 228px;
    }
}

@media (min-width:750px) and (max-width:999px) {
    .people {
    margin-right: 150px;
    margin-left: 150px;
    margin-buttom: 186px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    }
}

@media (min-width: 500px) and (max-width: 749px) {
    .people {
    margin: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-buttom: 186px;
    }
}

@media (max-width: 499px) {
    .people {
    margin-left: 30px;
    margin-right: 30px;
    margin-buttom: 186px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    }
}
